<?xml version="1.0"?>
<!--
/**
 * @package     add-to-homescreen
 * @author      NexPWA <hello@nexpwa.com>
 * @license     https://opensource.org/licenses/OSL-3.0 Open Software License v. 3.0 (OSL-3.0)
 * @link        http://www.nexpwa.com/
 * @copyright   Copyright © 2020 Codilar Technologies Pvt. Ltd.. All rights reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pwa" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>NexPWA_AddToHomescreen::pwa</resource>
            <class>separator-top</class>
            <label>PWA</label>
            <tab>general</tab>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="is_offline_indicator_active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Show offline indicator</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="manifest" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Manifest Configuration</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="short_name" translate="label" type="text" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Short Name</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Name</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>Description</label>
                </field>
                <field id="start_url" translate="label" type="text" sortOrder="50" showInDefault="1" canRestore="1">
                    <label>Start URL</label>
                </field>
                <field id="display" translate="label" type="select" sortOrder="60" showInDefault="1" canRestore="1">
                    <label>Display</label>
                    <source_model>NexPWA\AddToHomescreen\Model\Source\Manifest\Display</source_model>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="70" showInDefault="1" canRestore="1">
                    <frontend_model>NexPWA\AddToHomescreen\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                    <label>Background Color</label>
                </field>
                <field id="theme_color" translate="label" type="text" sortOrder="80" showInDefault="1" canRestore="1">
                    <frontend_model>NexPWA\AddToHomescreen\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                    <label>Theme Color</label>
                </field>
                <field id="icon_192" translate="label" type="image" sortOrder="90" showInDefault="1">
                    <label>Small Image</label>
                    <comment><![CDATA[
                        Type <b>PNG</b>. Size <b>192x192</b>
                    ]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">pwa/manifest/icons</upload_dir>
                    <base_url type="media" scope_info="1">pwa/manifest/icons</base_url>
                </field>
                <field id="icon_512" translate="label" type="image" sortOrder="100" showInDefault="1">
                    <label>Medium Image</label>
                    <comment><![CDATA[
                        Type <b>PNG</b>. Size <b>512x512</b>
                    ]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">pwa/manifest/icons</upload_dir>
                    <base_url type="media" scope_info="1">pwa/manifest/icons</base_url>
                </field>
                <field id="icon_1024" translate="label" type="image" sortOrder="110" showInDefault="1">
                    <label>Large Image</label>
                    <comment><![CDATA[
                        Type <b>PNG</b>. Size <b>1024x1024</b>
                    ]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">pwa/manifest/icons</upload_dir>
                    <base_url type="media" scope_info="1">pwa/manifest/icons</base_url>
                </field>
            </group>
            <group id="service_worker" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Service Worker Configuration</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_cached_data" translate="label" type="select" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Show cached data when internet is unavailable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cache_version" translate="label" type="text" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Cache Version</label>
                </field>
                <field id="precache_urls" translate="label" type="textarea" sortOrder="40" showInDefault="1" canRestore="1">
                    <label>URLs to precache</label>
                    <comment>Comma-separated</comment>
                </field>
                <field id="no_internet_html" translate="label" type="textarea" sortOrder="50" showInDefault="1" canRestore="1">
                    <label>No internet page</label>
                    <comment>HTML supported</comment>
                </field>
            </group>
        </section>
    </system>
</config>
